/* Fix for dropdown hover issue */
.dropdown-group:hover .dropdown-menu {
    display: block !important;
}

.dropdown-menu {
    display: none;
}

.dropdown-group {
    position: relative;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
    background: transparent;
}